body{
    background-image: url('https://i.stack.imgur.com/jGlzr.png');
}
.header{
    display: flex;
    background-color: white;
}
.img-header{
    width: 10%;
    margin-right: 10px;
    margin-left: 10px;
}
.h1-header{
    color: red;
    list-style-type: none;
    font-family: 'Piedra', cursive;
}
.a-header{
    text-decoration: none;
    margin: 10px;
    line-height: 80px;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    color: black;
    border-radius: 5%;
}
.a-header:hover{
    background-color: rgb(212, 211, 211);
    transition: 0.8s ease;
}
.signup{
    background-color: rgb(0, 110, 255);
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 10%;
}
.signup:hover{
    background-color: blue;
    transition: 0.8s ease;
}